.pro{margin: 2% 0; position: relative; background-color: #fff;}
/*精品推荐图片*/
.pro img{width: 100%;}
.pro .soldout{position: absolute; width: 100%; z-index: 3;}
.pro .tip{position: absolute; top: 9px; left: -18px; width: 76px; z-index: 5; height: 21px; line-height: 21px; text-align: center; font-size: 12px; color: #fff; transform: rotate(-45deg);}
.pro .new_tip{background-position: 0 -72px;}
.pro .hot_tip{background-position: 0 -103px;}
/*精品推荐描述*/
.pro .describe{padding: 5px;}
.pro .describe .title{margin-bottom: 10px; font-size: 14px; font-weight: bold; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pro .describe .title .title_tip{margin-right: 5px; padding: 2px 5px; font-size: 12px; font-weight: normal; color: #fff; border-radius: 3px;}
.pro .describe .title .group{background-color: #ff5600;}
.pro .describe .title .presell{background-color: #ffb400;}
.pro .describe .detail{margin-bottom: 15px; max-height: 30px; line-height: 15px; color: #999; overflow: hidden;}
.pro .describe .detail .explain{color: #b99e8d;}
/*价格及已售数量*/
.pro .describe .state{padding: 5px 0; border-top: 1px solid #eee;}
.pro .describe .state{color: #999;}
.pro .describe .state .price_num{display: block; font-size: 18px; font-weight: bold; color: #ff5600;}
.pro .describe .state del{margin-left: 7px;}
.pro .describe .sold{float: right; color: #b99e8d;}


/*小屏幕*/
@media (max-width: 350px) {
	.pro .describe .state .price_num{display: inline-block;}
	.pro .describe .sold{float: none; margin-top: 5px;}
}

/*平板等大屏*/
@media (min-width: 720px) {
	/*精品推荐图片*/
	.pro .tip{top: 18px; left: -37px; width: 152px; height: 42px; line-height: 42px;}
	.pro .new_tip{background-position: 0 -144px;}
	.pro .hot_tip{background-position: 0 -206px;}
	
	/*精品推荐描述*/
	.pro .describe{padding: 10px;}
	.pro .describe .title{font-size: 20px;}
	.pro .describe .detail{max-height: 50px; line-height: 25px;}
	
	/*价格及已售数量*/
	.pro .describe .state .price_num{font-size: 20px;}
}














