/*头像*/
.head{background: url(../img/mine_bg.jpg) no-repeat center; height: 128px;}
.head img{margin: 15px 0 5px; height: 73px; border-radius: 100%; border: 4px solid rgba(0,0,0,0.1);}
.head .name{font-size: 1.4rem; font-weight: bold; color: #fff;}

/*我的订单*/
















