/*首部导航*/
.top_nav{width: 100%;}
.top_nav .item{float: left; width: 25%; height: 50px; line-height: 50px; text-align: center; font-size: 1.4rem; background-color: #fff; cursor: pointer;}
.top_nav .item a{display: inline-block; width: 100%; color: #555;}
.top_nav .item.active a{color: #ff5600; border-bottom: 2px solid #ff5600;}

.con_item .item{margin-top: 15px; background-color: #fff;}
.con_item .item .top{padding: 13px 10px;}
.con_item .item .top .time{font-size: 1.3rem; color: #afafaf;}
.con_item .item .top .state{float: right; font-size: 1.4rem; color: #ff5600;}
.con_item .item .middle{padding: 15px 10px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.con_item .item .middle .image{position: absolute; width: 7rem; height: 7rem;}
.con_item .item .middle .image img{width: 100%;}
.con_item .item .middle .right_con{margin-left: 95px;}
.con_item .item .middle .right_con .title{margin-bottom: 10px; min-height: 36px; max-height: 36px; overflow: hidden; font-size: 1.3rem; color: #555;}
.con_item .item .middle .right_con .sec_middle{margin-bottom: 7px; font-size: 1.2rem; color: #999;}
.con_item .item .middle .right_con .sec_middle .unit_price{float: right;}
.con_item .item .middle .right_con .sec_bottom{font-size: 1.2rem;}
.con_item .item .middle .right_con .sec_bottom .real_price{float: right;}
.con_item .item .middle .right_con .sec_bottom .real_price .bold{font-size: 1.5rem; color: #ff5600;}
.con_item .item .bottom{padding: 10px; font-size: 1.4rem;}
.con_item .item .bottom .button{float: right; display: inline-block; padding: 7px 15px; color: #ff5600; border: 1px solid #ff5600; border-radius: 5px;}
.con_item .item .bottom .button:first-child{margin-left: 10px;}
.con_item .item .bottom .button.disable{color: #fff; background-color: #ccc; border: 1px solid #eee;}
.con_item .empty{position: absolute; top: 35%; left: 0; display: inline-block; padding-top: 65px; width: 100%; text-align: center; font-size: 1.5rem; color: #999;}
.con_item .empty .icon_empty{position: absolute; top: 0; left: 0; right: 0; margin: auto; background-position: -92px -72px; width: 42px; height: 52px;}

/*iPhone4等小屏幕*/

@media (min-width: 721px){
	.con_item .item .middle .image{width: 8rem; height: 8rem;}
	.con_item .item .middle .right_con{margin-left: 135px;}
	.con_item .item .middle .right_con .title{min-height: 54px; max-height: 54px;}

	.con_item .empty{padding-top: 130px;}
	.con_item .empty .icon_empty{background-position: -184px -144px; width: 84px; height: 104px;}
}