.container{background-color: #fff;}
/*海报*/
.slideBox{margin: 15px;}
.slideBox .dots li{width: 10px;height: 10px;}
.slideBox .dots{bottom: 5px;}

/*团购信息*/
.infomation{padding: 0 10px;}
.title{min-width: 290px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 15px; font-weight: bold;}
/*商品描述*/
.describe{margin-top: 5px; max-height: 36px; line-height: 18px; overflow: hidden; color: #999;}
/*状态*/
.state{margin-top: 5px; padding: 0 5px; color: #555;}
.state .sold{float: right;}
.price{margin-top: 5px; color: #ff5600;}
.price .bold{font-size: 18px;}
/*购买按钮*/
.btn_buy{display: inline-block; margin: 10px 0; width: 100%; height: 45px; line-height: 45px; text-align: center; color: #fff; border: 1px solid #ff5600; border-radius: 4px;}
.btn_buy.group_btn{background-color: #ff5600;}
.btn_buy.single_btn{font-size: 18px; background-color: #ff5600;}
.btn_buy.person_btn{color: #ff5600;}
.btn_buy .bold{font-size: 18px;}
/*说明*/
.ex_buy{color: #555;}
.ex_deliver{margin: 15px 0; color: #999;}
/*查看详情*/
.more{margin: 5px 0; padding: 10px 15px; font-size: 15px; color: #333; background-color: #fff;}
.more .arrow{float: right;}
/*拼团玩法*/
.explain{margin-bottom: 65px; padding: 10px 15px; font-size: 15px; color: #333; background-color: #fff;}
.explain .arrow{float: right;}
.explain ul{margin: 25px 0;}
.explain .item{float: left; position: relative; width: 25%; text-align: left; color: #a1a1a1; font-size: 12px;}
.explain .item span{margin-left: 25px; display: inline-block; width: 50px; line-height: 14px;}
.explain .item .num{position: absolute; top: 5px; margin-right: 5px; display: inline-block; width: 20px; height: 20px; line-height: 18px; text-align: center; font-style: normal; color: #a1a1a1; background-color: #fff; border: 1px solid #a1a1a1; border-radius: 100%;}
.explain .item.active{color: #ff5600;}
.explain .item.active .num{color: #fff; background-color: #ff5600; border: 0;}
/*查看更多团购*/
.more_group{position: fixed; bottom: 0; width: 100%; text-align: center; font-size: 15px; border-top: 1px solid #f3f3f3;}
.more_group .back_home{position: absolute; left: 0; display: inline-block; padding: 20px 0; width: 20%; background-color: #fff;}
.more_group .find_more{margin-left: 20%; display: inline-block; padding: 20px 0; width: 80%; color: #ff5600; background-color: #eee;}

@media screen and (min-width: 720px) {
	/*团购信息*/
	.title{font-size: 21px;}

	/*商品描述*/
	.describe{max-height: 50px; line-height: 25px; overflow: hidden; font-size: 18px;}

	/*状态*/
	.state{font-size: 18px;}
	.price .bold{font-size: 24px;}

	/*购买按钮*/
	.btn_buy{font-size: 18px;}
	.btn_buy.single_btn{font-size: 24px;}
	.btn_buy .bold{font-size: 24px;}

	/*说明*/
	.ex_buy{font-size: 18px;}
	.ex_deliver{font-size: 18px;}

	/*查看详情*/
	.more{font-size: 21px;}
	.mleft_60{margin-left: 90px;}

	/*拼团玩法*/
	.explain{font-size: 21px;}
	.explain .item{font-size: 18px;}
	.explain .item span{margin-left: 50px; width: 100px; line-height: 20px;}
	.explain .item .num{top: 0; width: 40px; height: 40px; line-height: 40px;}

	/*查看更多团购*/
	.more_group{font-size: 21px;}

}

