.content{background-color: #fff;}
/*海报*/
.slideBox{margin: 15px;}
.slideBox .dots li{width: 10px;height: 10px;}
.slideBox .dots{bottom: 5px;}

/*团购信息*/
.infomation{padding: 0 10px;}
.title{min-width: 290px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 1.5rem; font-weight: bold;}
/*商品描述*/
.describe{margin-top: 5px; max-height: 36px; line-height: 18px; font-size: 1.2rem; overflow: hidden; color: #999;}
/*状态*/
.state{margin-top: 5px; padding: 0 5px; font-size: 1.2rem; color: #555;}
.state .sold{float: right;}
.price{margin-top: 5px; color: #ff5600;}
.price .bold{font-size: 1.8rem;}
/*购买按钮*/
.btn_buy{display: inline-block; margin: 10px 0; width: 100%; height: 45px; line-height: 45px; font-size: 1.2rem; text-align: center; color: #fff; border: 1px solid #ff5600; border-radius: 4px;}
.btn_buy.group_btn{background-color: #ff5600;}
.btn_buy.single_btn{font-size: 1.8rem; background-color: #ff5600;}
.btn_buy.person_btn{color: #ff5600;}
.btn_buy .bold{font-size: 1.8rem;}
/*说明*/
.ex_buy{font-size: 1.2rem; color: #555;}
.ex_deliver{margin: 15px 0; font-size: 1.2rem; color: #999;}
/*查看详情*/
.more{margin: 5px 0; padding: 1rem 1.5rem; font-size: 1.5rem; color: #333; background-color: #fff;}
.more .arrow{float: right;}
/*查看更多团购*/
.more_group{position: fixed; left: 0; right: 0; bottom: 0; z-index: 999; margin: 0 auto; width: 100%; text-align: center; font-size: 1.5rem; border-top: 1px solid #f3f3f3;}
.more_group .back_home{position: absolute; left: 0; bottom: 0; top: 0; margin: auto; display: inline-block; padding: 1.3rem 0; width: 20%; background-color: #fff;}
.more_group .icon_home{position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto;}
.more_group .find_more{margin-left: 20%; display: inline-block; padding: 20px 0; width: 80%; color: #ff5600; background-color: #eee;}

@media (min-width: 720px) {
	/*商品描述*/
	.describe{max-height: 50px; line-height: 25px; overflow: hidden;}

	/*查看详情*/
	.mleft_60{margin-left: 90px;}
	
	.more_group .back_home{padding: 11px 0;}
	.more_group .back_home .icon_home{background-size: 500px 500px; width: 50px; height: 50px; background-position: -2px -50px;}
}

@media (min-width: 750px) {
	.more_group{width: 750px;}
}

