.rec_pro{margin-top: 2%; padding: 1%; position: relative; background-color: #fff;}
.rec_pro img{width: 100%;}
.rec_pro .soldout{position: absolute; width: 98%;}
.rec_pro .describe{padding: 10px 5px;}
.rec_pro .describe .tip{position: absolute; top: 13px; left: -14px; background-position: 0 -72px; width: 76px; height: 21px; line-height: 21px; text-align: center; font-size: 12px; color: #fff; transform: rotate(-45deg);}
.rec_pro .describe .title_tip{margin-right: 5px; display: inline-block; width: 30px; height: 15px; line-height: 15px; text-align: center; color: #fff; background-color: #ff5600; border-radius: 3px;}
.rec_pro .describe .title{margin-bottom: 10px; font-size: 12px; font-weight: bold; color: #000;}
.rec_pro .describe .detail{margin-bottom: 15px; max-height: 30px; line-height: 15px; font-size: 12px; color: #999; overflow: hidden;}
.rec_pro .describe .detail .explain{color: #b99e8d;}
.rec_pro .describe .state{padding: 15px 0; font-size: 12px; border-top: 1px solid #eee;}
.rec_pro .describe .state .state_price{display: inline-block; font-size: 12px; color: #999;}
.rec_pro .describe .state .state_price .price_num{font-size: 16px; font-weight: bold; color: #ff5600;}
.rec_pro .describe .state .state_price del{margin-left: 10px;}
.rec_pro .describe .state .sold{float: right; margin-top: 3px; color: #b99e8d;}
@media screen and (min-width:720px) {
	.rec_pro .describe .tip{position: absolute; top: 26px; left: -30px; background-size: 500px 500px; background-position: 0 -144px;  width: 152px; height: 42px; line-height: 42px; font-size: 20px;}
}
